@use'/src/styles/vars.scss';

.header{
    height: 30vh;
}
.banniere{

    height: 25vh;
    
}
.banniere__slogan{
    position: absolute;
    margin-top: -13%;
    margin-left: 23%;
    font-size: 1.5rem;
    color:white;
    & > :nth-child(2){
        margin-left: 9%;
        width: max-content;


}
}
.nav__logo {

    position: relative;
    height: 300px;
    width: 300px;
    border: solid 5px ;
    border-radius: 50%;
    border-color: vars.$color-secondary-variant ;
    background-color: vars.$color-bg-variant;
    padding: 1rem;

    margin-top: -8%;
    // transform: translateX(-50%);
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__all{
        margin-top: 1rem;
    }
    
    

}
.nav__left a{
    margin-left: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    
    
}
.nav__right a{
    margin-right: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    
}
.nav__link{
    transition: vars.$transition;
}
.nav__link:hover{
    transform: scale(1.25);
}


/*==========media queries============*/

@media screen and (max-width: 1024px ) {
    .container--header {
      width:100%
    }
    .nav__left a{
        font-size: 1.3rem;
        margin-left: 1.5rem;
        
    }
    .nav__right a{
        font-size: 1.3rem;
        margin-right: 1.5rem;
        
    }
  
    .banniere{

        height: 25vh;
    }
    .nav__logo {

        height: 250px;
        width: 250px;
        margin-top: -34%;
        margin-left: 64%;

    }
    .banniere__logo {
        margin-top: -16%;
    }
    
  }
  
  /*==========media queries (small devices)============*/
  
  @media screen and (max-width: 643px ) {
    .container {
      width:var(--container-width-lg)
    }
    .container--header {
        width: 100%;
        margin-top: 15rem;
    }

    .nav__logo {

        margin-top: -58%;
        margin-left: 5%;


    }
    .banniere__slogan{
        position: absolute;
        font-size: 0.8rem;
        margin-top: -15%;
        margin-left: 34%;
    
    }
    .nav__left a{
        font-size: 0.8rem;
        margin-left: 1.5rem;
        display: block;
        
        
    }
    .nav__right a{
        font-size: 0.8rem;
        margin-right: 1.5rem;
        display: block;
        
    }
    .nav{
        flex-direction: column;
    }
    }


  @media screen and (max-width: 400px ) {
    .container {
      width:var(--container-width-sm)
    }
    // .banniere{
    //     display: none;
    // }
    .banniere__logo {
        height: 250px;
        width: 250px;
        margin-top: 10%
    }
  }