@use'../../styles/vars.scss';
/*==== HEADER SOCIALS======*/

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left:1rem;
    bottom: 10rem;
    font-size: 4rem;
    
}
// a{ 

//     -webkit-box-reflect: below 0px linear-gradient(to top, rgba(255,255,255,0.2), rgba(255,255,255,0));
// }
.header__socials::after {

    content: '|';
    width: 1px;
    height: 2rem;
}

/*==========media queries (medium devices )============*/

@media screen and (max-width: 1024px ) {
.header__socials{display: none;}

}

/*==========media queries (small devices )============*/

@media screen and (max-width: 643px ) {
    


}