@use'../../styles/vars.scss';
/*==== HEADER SOCIALS======*/

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left:1rem;
    bottom: 10rem;
    font-size: 4rem;

    & > a {
        height: 70px;
        width: 70px;
        border-radius: 15px;

    }
    
}
.header__socials__facebook{
    color : #3F6C8A;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header__socials__instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.header__socials__linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #0072b1;
}

.header__socials::after {

    content: '|';
    width: 1px;
    height: 2rem;
}

/*==========media queries (medium devices )============*/

@media screen and (max-width: 1024px ) {
.header__socials{display: none;}

}

/*==========media queries (small devices )============*/

@media screen and (max-width: 643px ) {
    


}