@use'../../styles/vars.scss';
iframe{
    border-radius: 5px;
    width: 500px;
    margin-top:1em;
}
.ressources{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;

    margin-left: 50%;
    transform: translateX(-50%);

    & h1 {
        font-family: 'lora';
    }


}
/**********small devices*************/
@media screen and (max-width: 643px) {
   .ressources {
    width: container-width-sm;
   }
    iframe{
        width: 100%;
    }
    
  }