
    $color-bg: #fdc5e8;
    $color-bg-variant:#ffe042d2;
    $color-primary:#fd34b6;
    $color-secondary-variant:#ff800a88;
    $color-primary-variant: #f99ed9;
  
  
    $transition: all 400ms ease;
  
