@use'../../styles/vars.scss';
.footer-container{
    background: vars.$color-secondary-variant;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    
}
.social-media-column{
    display:flex;
    justify-content: space-evenly;
    font-size: 3em;

}
.links-column{
    display:flex;
    justify-content: space-evenly;

}
