@use'../../styles/vars.scss';

#presentation {

height: 70vh;
    
}

.presentation__container{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15%;
    height: max-content;
    align-items: center;
    top: 10%;
    padding-top: 100px;
    
}


.presentation__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem ;
    background: linear-gradient(
        45deg,
        transparent,
        vars.$color-bg,
        transparent
    );
    display: grid;
    place-items: center;
    


    &-image{
        border-radius: 2rem;
        overflow: hidden;
        transform: rotate(10deg);
        transition: vars.$transition;
        background: vars.$color-bg;

        &:hover {
            transform: rotate(0deg);
        }
        
    }

}

.presentation{


    &__card{
        background:vars.$color-bg;
        border:1px solid transparent;
        border-radius: 1rem;
        padding:2rem;
        text-align: center;
        transition: all 400ms ease;
        width: 100%;
        &:hover{
            background: transparent;
            border-color:vars.$color-bg;
            cursor: default;
            color: vars.$color-bg;
        }
        

    }

    &__icon{
        color: vars.$color-primary;
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    &__card h5 {
        font-size: 1.1rem;

    }
   

    &__card small {
        font-size: 0.7rem;
        color:vars.$color-primary ;
        font-weight: 700;

    }

    &__content p {
        margin: 1rem 0 01.6rem;
        color:gba(255,255,255,0.6);
        font-size: 1rem;
        line-height: 1.2rem;
    }
}



/*==========media queries (medium devices )============*/

@media screen and (max-width: 1024px ) {
    .presentation__container {
        grid-template-columns: 1fr;
        gap: 4em;

    }

    .presentation__me {
        width: 50%;
        margin: 0 auto 0 ;
    }

    .presentation__content p {
        margin: 1rem 0 1.5rem ;
        font-size: 0.8rem;
    }


}

/*==========media queries (small devices )============*/

@media screen and (max-width: 643px ) {
    #presentation {

        height: max-content;
            
        }
    .presentation__me {
        width: 65%;
        margin: 0 auto 3rem;

    }
    .presentation__cards {
    gap: 1rem;
    grid-template-columns: repeat(1,1fr);
    gap: 1.5rem;
    }
    .about__content {
        text-align: center;
    }
    
    .about__content p {
        margin: 1.5rem 0;
        font-size: 1.2rem;
        
    }
    

}
