@use'../../styles/vars.scss';

.About__content {
backdrop-filter: vars.$backdropd-filter;
font-family: 'lora';
}
.content {
    &__bold{

        font-weight: bold;
    }
    &__red{
        font-weight: bold;
        color: red;
        //brightness animation left to right
    
    }
}


/*==========media queries (medium devices )============*/

@media screen and (max-width: 1024px ) {
   
.container{
    width: vars.$container-width-sm;
}

}

/*==========media queries (small devices )============*/

@media screen and (max-width: 643px ) {
.container{
    width: vars.$container-width-sm;
}
.essai{
    font-weight: 50;
}
.About__content > p {
    font-size: 0.8em;

}
    

}
